/*
* Customer care view
*/

.customerCareViewCls {
	width: 300px;
    margin: 0px auto;
    background: transparent;
}

.customerCareViewCls .header_txt_cls {
	    margin: 20px 0px;
}

.customerCareViewCls .messageTxtCls{
	height: 150px;
}

.customerCareViewCls .send_btn_cls {
    margin: 10px 0px;
    height: 50px;
    color: #ffffff;
    width: 78px;
    float: right;
    border: 0px;
    border-radius: 3px;
    right: 10px;
    background-color: #5AA911;
    background-image: none;
}

.customerCareViewCls .time_indication_cls {
	margin-top: 80px;
    text-align: center;
    box-shadow: 0px -10px 5px -4px #888888;
    background-color: transparent;
    font-size: 0.8em;
    color: #616161;
    padding-top: 20px;
    padding-bottom: 20px;
}

.customerCareViewCls .call_request_cls {

    background-color: #5AA911;
    background-image: none;
    color: #ffffff;
    height: 44px;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 20px;
}










