/* Profile Panel Classes - START */

.dataContainer {
      text-align: center;
      height: 10%;
      width: 95.8%;
      /*border: 1px solid black;*/
      margin: 0 2% 0 1.5%;
      border-radius: .5em;
      font-size: .8em;
    }

    .groupFieldsContainer {
      width: 96%;
      /* padding: 3% 0px; */
      overflow: hidden;
      /* border-bottom: 1px solid gray; */
      background: white;
      margin: 2%;
      padding: 2% 0;
      border-radius: .5em;
    }

    .dataRow {
      width: 100%;
      /* padding: 3% 0px; */
      overflow: hidden;
      /* border-bottom: 1px solid gray; */
      background: white;
      margin: 4% 3%;
      padding: 0 0;
    }

    .field {
      width: 50%;
      float: left;
      text-align: left;
      padding: 0 0 0 4%;
    }

    .value {
      width: 46%;
      float: left;
      text-align: left;
      padding: 0 0 0 4%;
      word-break : break-all;
    }

    .reviewPanelCls {
      z-index : 100;
      background : #E2E2E2;
      height: 100%;
    }

    .reviewPanelCls .x-dock-body {
      height : 100%;
    }

    .reviewPanelToolbarCls {
      background : #00745f;
    }

    .docProfilePanelContainerCls, .patientProfilePanelContainerCls  {
      height : 100%;
    }

    .reviewPanelToolBtnCls {
      background: none !important;
      border: none !important;
      font-size: 1.2em !important;
      margin : 0 !important;
    }

    .profileScreenPicContainerCls {
      width: 100%;
      overflow: hidden;
      padding: 3%;
      height: 100%;
    }

    .profileScreenPicContainerCls > .profilePicDiv {
      width : 30%;
      border-radius: 2em;
      background-image: url('../images/dq_registration_background.png');
      background-size: cover;
      background-position:50% 50%;
      background-repeat:no-repeat;
      height: 72px;
      width: 72px;
      float: left;
    }

    .profileScreenPicContainerCls > .nameContainerCls {
        float: left;
        margin-left: 7%;
        text-overflow: ellipsis;
        width: calc(100% - 72px - 10%);
        font-size: 0.8em;
        font-weight : bold;
    }


    .contentEditableCls {
      -webkit-user-modify: read-write;
      -moz-user-modify: read-write;
      user-modify: read-write;
      border: 1px solid #D7CFCF;
      padding: 1%;
      -webkit-user-modify: read-write;
    }

    .gotoDashBoardBtnCls {
      background-image: url('../images/dq_arrow_back_white@1x.png') !important;
    }

    .btnBackgroundDecline {
      background :#AF262D;
    }

/* Profile Panel Classes - END */

/*** General - Common Css */

.textAlignCenter {
  text-align : center;
}

.fontBold {
  font-weight: bold;
}

.fontSizePoint6em {
  font-size: .6em;
}

.fontSizePoint7em {
  font-size: .7em;
}

.fontSizePoint75em {
  font-size: .75em;
}

.fontSizePoint8em {
  font-size: .8em;
}

.colorGray {
  color : gray;
}

.colorBlack {
  color : #000;
}

.colorGreen {
  color : green !important;
}

.colorWhite {
  color : #fff;
}

.callInviteMsg {
  font-size: .75em;
  padding: 5% 0%;
  text-align: center;
  margin: 0% 15%;
}

.docProfileCls {
  height: 82px;
  width: 82px;
  border: 4px solid #dfdbd8;
  border-radius: 3em;
  background: url("../images/dq_registration_background.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.onlineOfflineIndicator {
      height: 20px;
    width: 20px;
    position: relative;
    /* border: 1px solid; */
    border-radius: 2em;
    
    float: right;
    margin: 0% 0% 0% -18px;
}

.offlineColor {
 background: #AF262D;
}

.onlineColor {
  background: #AFCA0B;
}

.displayNone {
  display : none;
}

.displayBlock {
  display : block;
}

.padding5 {
  padding : 5%;
}

.borderNone {
  border : none;
}

.doctorLandingViewCls .doctorMainPanelCls .mainPanelToolbarCls .x-title > .x-innerhtml {
  font-size : .8em;
}

.patientLandingViewCls .patientMainPanelCls .mainPanelToolbarCls .x-title > .x-innerhtml {
  font-size: .8em;
}

.marginBottom {
  margin-bottom : 3% !important;
}

/*************** Video Call Css **************/

.commonCallOptionCls {

  background-position: 50% 50%;
  height: 42px;
  width: 42px;
  float: left;
}

.videoInActiveCls {
  background: url("../images/480x854/dq_button_video_camera_off_480x854.png");
  background-repeat: no-repeat;
  margin-right: 5%;
}

.videoActiveCls {
  background: url("../images/480x854/dq_button_video_camera_on_480x854.png");
  background-repeat: no-repeat;
  margin-right: 5%;
}

.voiceInActiveCls {
  background: url("../images/480x854/dq_button_video_mic_off_480x854.png");
  background-repeat: no-repeat;
  margin-right: 5%;
}

.voiceActiveCls {
  background: url("../images/480x854/dq_button_video_mic_on_480x854.png");
  background-repeat: no-repeat;
  margin-right: 5%;
}

.callEndInActiveCls {
  background: url("../images/480x854/dq_button_video_phone_off_480x854.png");
  background-repeat: no-repeat;
  margin-right: 5%;
}

.callEndActiveCls {
  background: url("../images/480x854/dq_button_video_phone_on_480x854.png");
  background-repeat: no-repeat;
  margin-right: 5%;
}

.flashInActiveCls {
  background: url("../images/480x854/dq_button_video_flash_off_480x854.png");
  background-repeat: no-repeat;
  margin-right: 5%;
}

.flashActiveCls {
  background: url("../images/480x854/dq_button_video_flash_on_480x854.png");
  background-repeat: no-repeat;
  margin-right: 5%;
}

.flipCameraInActiveCls {
  background: url("../images/480x854/dq_button_video_camera-reverse_off_480x854.png");
  background-repeat: no-repeat;
  /*margin-right: 5%;*/
}

.flipCameraActiveCls {
  background: url("../images/480x854/dq_button_video_camera-reverse_on_480x854.png");
  background-repeat: no-repeat;
  /*margin-right: 5%;*/
}

.callOptionsParent {
  width: 86%;
  overflow: hidden;
  margin: 7%;
  position: absolute;
  bottom: 2px;
}

.callInfoMsg {
  margin: 5%;
  /* border: 1px solid; */
  border-radius: 1.5em;
  padding: 6% 5%;
  font-size: .75em;
  color: white;
  background: #20242d;
}

.videoCallViewPanelCls {
  background: #737371;
}

.callEndedTextDivCls {
  text-align: center;
  font-size: 1.5em;
  text-shadow: 1px 0px #fff;
  margin-top: 4%;
}

.callInviteMsg {
  font-size: .75em;
  padding: 5% 0%;
  text-align: center;
  margin: 0% 15%;
  color: #fff;
  text-shadow: 0px 0px;
}